$navBgColor: rgba(0, 0, 0, 0);
$navBgScrollColor: rgba(0, 0, 0, 0.9);
// $color: rgb(255, 180, 40, 1);
$color: #E2293F;
$color1: #41C485;
$color2: #F3B404;
$color3: #1D1C1C;

// WHEN TEXT SELECTED
::selection {
  color: $color;
  background-color: rgba($color: $color, $alpha: 0.1);
}

// Different color classes
.cl1 { color: $color; }
.cl2 { color: $color1; }
.cl3 { color: $color2; }
.cl4 { color: $color3; }

.clb1 { background-color: $color; }
.clb2 { background-color: $color1; }
.clb3 { background-color: $color2; }
.clb4 { background-color: $color3; }

//Different font style classes
.f1 { font-family: 'Arial', sans-serif; }
.f2 { font-family: 'Georgia', serif; }
.f3 { font-family: 'Courier New', monospace; }
.f4 { font-family: 'Tahoma', sans-serif; }
