$navBgColor: rgba(0, 0, 0, 0.0);
$navBgScrollColor: rgba(0, 0, 0, 0.9);
// $color: rgb(255, 180, 40, 1);
$color: #E2293F;
$color1: #41C485;
$color2: #F3B404;
$color3: #1D1C1C;
$color4: white;

// WHEN TEXT SELECTED
::selection {
  color: $color;
  background-color: rgba($color: $color, $alpha: 0.1);
}

// Different color classes
.cl1 {
  color: $color;
}

.cl2 {
  color: $color1;
}

.cl3 {
  color: $color2;
}

.cl4 {
  color: $color3;
}

.cl5 {
  color: $color4;
}

// Different Background color classes
.clb1 {
  background-color: $color;
}

.clb2 {
  background-color: $color1;
}

.clb3 {
  background-color: $color2;
}

.clb4 {
  background-color: $color3;
}

$font1: Georgia, 'Times New Roman', Times, serif;

//Different font style classes
.f1 {
  font-family: $font1;
}

.f2 {
  font-family: 'Georgia', serif;
}

.f3 {
  font-family: 'Courier New', monospace;
}

.f4 {
  font-family: 'Tahoma', sans-serif;
}




// General Panel CSS Start Here

// [1]. Header CSS 

#general-navbar.navbar-scrolled {
  background: $navBgScrollColor;
}

// $bg_image :'../assets/image/general/food-366875.jpg';
// $bg_image :'../assets/image/general/food.jpg';
$bg_image :'../assets/image/general/pizza-8968566.png';

.smartdine-banner {
  background-image: url($bg_image);
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smartdine-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.smartdine-content {
  position: relative;
  color: $color4;
  text-align: center;
  z-index: 1;
}

.title {
  font-size: 5rem;
  font-family: $font1;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 1rem;
}

.sub-title {
  font-size: 2.5rem;
  font-family: $font1;
  font-weight: normal;
  margin-bottom: 1rem;

  span:first-child {
    font-weight: bold;
    font-style: italic;
    color: $color2;
    ;
  }

  span:last-child {
    font-style: italic;
    color: $color;
  }
}


@media only screen and (max-width: 993px) {}

// Tablet Screen
@media only screen and (max-width: 767px) {
  .title {
    font-size: 4rem;
  }
  .sub-title {
    font-size: 2rem;
  }
}

// Mobile Screen
@media only screen and (max-width: 425px) {
  .title {
    font-size: 3rem;
  }
  .sub-title {
    font-size: 1.5rem;
  }
}


// General Panel CSS End Here